*{
 margin: 0;
 padding: 0 ;
 box-sizing: border-box;
 transition: 0.2s linear ;
}
html{
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.2rem;
  height: 4px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 9rem;
}
a{
 text-decoration: none;
 color: black;
}
.head{
 display: flex ;
 margin-top: 30px;
 font-family: Arial;
 margin-bottom: -40px;
}
.left{
 display: flex;
 flex-direction: column;
 margin: 20px;
 padding: 5px 5px;
}
.left ul{
 display: flex;
 gap: 20px;
 
}
.left ul li{
 display: flex;

}

.right{
  display: grid;
  grid-template-columns: 2fr 1fr;
   /* flex-direction: column; */
   margin: 20px;
   padding: 5px 5px;
   justify-content: end;
  justify-self: end;
}
/* .right-about, .right-search{
 display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px 5px;
  justify-content: end;
  justify-self: end;
} */
.right ul{
 display: flex;
 gap: 20px;
 

}
.right ul li{
 display: flex;
 
}

.middle{
 flex: 1;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  margin-top: -10px;
}
.logo{
 height: 70px;
 justify-content: center;
}
span{
 padding: 3px;
}
.ri-menu-line{
 font-size: 30px;
 margin: 10px;
 display: none;
}
a:hover{
 color: gold;
 text-decoration: underline;
}
@media (max-width: 575px){
.left {
 display: none;
}

.middle{
 justify-content: center;
}
.right-about{
 display: none;
}
.menu{
  display: none;
}

.right-search{
align-items: end;
justify-content: end;
margin-left: -150px;
font-size: 20px;
margin-top: -10px;
}
.ri-menu-line{
 display: initial;
}
.input {
  margin-top: 45px;
  justify-content: center;
  justify-self: center;
}
.input-design{
  display: flex;
  margin-left: -30px ;
}
#input {
  width: 300px;
  height: 25px;
  border-bottom-left-radius: 15px;
}

.btn {
  padding: 1px 1px;
  background: gold;
  border: 2px solid gray;
  border-radius: 0 0 40px;
  font-size: 15px;
  flex-shrink: 0;

}
.empty{
  padding: 120px 0;
  opacity: 70%;
}
.playing {
  margin-left: 25px;
  margin-top: 20px;
}
.content{
  margin: -55px 15px;

}
.heading-word {
  padding: 370px 40px 30px 40px;
  font-size: 30px;
  cursor: text;
}

.to {
  color: goldenrod;
  padding: 10px 5px;
  font-size:30px;
}

.our {
  color: goldenrod;
  padding: 10px;
  font-size: 40px;
}

.shop {
  color: goldenrod;
  padding: 20px;
  font-size: 25px;
  text-transform: uppercase;
}

.shop:hover {
  color: white;
  cursor: text;
}

.to:hover {
  color: white;
  cursor: text;
}

.our:hover {
  color: white;
  cursor: text;
}

.content p {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50px;
  text-transform: capitalize;
  margin-left: 50px;
  text-align: center;
}
}
@media (min-width: 600px) {
  .menu-design {
    display: none;
  }
 
.input {
  margin-top: 45px;
  justify-content: center;
  justify-self: center;
  display: none;
}
.input-design{
  display: flex;
  margin-left: 65px;
 
}
#input{
  width: 500px;
  height: 40px;
}
.btn{
  padding: 8px 15px;
  background: gold;
  border: 1px solid gray;
  border-radius: 0  0 40px;
  font-size: 20px;
  flex-shrink: 0;
}
.log-show{
  margin-left: 850px ;
  background: linear-gradient(rgba(0, 0, 0, 0.1));
}
.carting{
  margin-left: 1150px;
  
}
.empty{
  padding: 130px 0;
  opacity: 60%;
}
.right-search-sign{
  padding: 10px 10px;
}
.playing {
  margin-left: 500px;
}
.content{
  margin: -55px 40px;
}
.heading-word {
  padding: 220px 40px 30px 40px;
  font-size: 65px;
  cursor: text;
}
.to{
  color: goldenrod;
  padding: 20px 20px;
  font-size: 120px;
}
.our{
  color: goldenrod;
  padding: 20px ;
  font-size: 100px;
}
.shop{
  color: goldenrod;
    padding: 20px;
    font-size: 40px;
    text-transform: uppercase;
}
.shop:hover{
  color: white;
    cursor: text;
}
.to:hover{
  color: white;
  cursor: text;
} 

.our:hover{
  color: white;
  cursor: text;
}
.content p{
  font-size: 30px;
  font-family: system-ui;
  margin-left:50px ;
  text-transform: capitalize;
  margin-left: 500px; 
  text-align: center;
}
}
.menu-design{
  margin-top: 20px;
  padding: 20px 12px;
  line-height: 40px;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}
.menu-design ul{
  list-style: none;
}
.menu-design ul li{
border-bottom: 2px solid gold;
}
.menu-design ul li ul li{
border-bottom: 2px solid gold;
}
.menu-design ul li ul{
  display: none;
}

.menu-design ul li:hover>ul {
  display: block;
}
.line{
  border-bottom: 2px solid gold;
}
.reduce{
  font-size: 10px;
}
.input{
  display: none;
}
.input-design{
  margin-top: 38px;
    justify-content: center;
    justify-self: center;
    
}
 .logging{
  display: none;
 }


.log-show{
  margin-top: 60px;
  justify-content: center;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    font-family: arial;
    
 }

 h1{
cursor: pointer;
 }
 .login-box{
  width: 350px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 8px;
  border-radius: 40px;
  background: transparent;
 }
 .btn-again{
  padding: 8px 15px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
  border: none;
  background: goldenrod;
 }
 .forget{
  margin-top: 20px;
  margin-bottom: 50px;
 }
 .cart-items{
  display: none;
 }
 .carting{
  margin-top: 60px;
  
 }
 .empty{
  margin-top: -45px;
  height: 300px;
  font-size: 15px;
  font-family: arial;
  text-shadow: 0px 5px 10px  gold ;
  background: linear-gradient(rgba(0,0,0,0.2));
  justify-content: center;
  justify-items: center;
 }
 .reduce-2{
  font-size: 10px;
 }
 .full-logo{
  display: flex;
 }
 .right-search-sign{
  align-items: end;
    justify-content: end;
    margin-right: -30px;
    font-size: 20px;
    margin-top: -10px;
 }

 .full-logo{
  width: 200px;
    height: 35px;
    margin: 30px;
    color: gold;
    font-size: 30px;
    letter-spacing: 1px;
    background: transparent;
    margin-top: 30px;
    font-family: arial;
    display: flex; 
 }
 .naming{
  border: none;
  border-bottom:2px solid gold;
 }
 .emailing{
  background: transparent;
  display: flex;
  font-family: arial;
  margin: 30px;
  width: 200px;
  height: 35px;
  font-size: 30px;
  color: gold;
 }
.email-1{
  border: none;
    border-bottom: 2px solid gold;
}
.password{
    background: transparent;
      display: flex;
      font-family: arial;
      margin: 30px;
      height: 35px;
      font-size: 30px;
      color: gold;
}
.password-link{
  width: 330px;
  border: none;
    border-bottom: 2px solid gold;
}
.date-of-birth{
  background: transparent;
    display: flex;
    font-family: arial;
    margin: 30px;
    height: 35px;
    font-size: 30px;
    color: gold;
}
.month{
  width: 200px;
  border: none;
    border-bottom: 2px solid gold;
}
.day{
width: 130px;
border: none;
  border-bottom: 2px solid gold;
}
.sign-up-head{
 margin-left: 160px;
 text-transform: uppercase;
 cursor: text;
}
.submit{
  padding: 10px 15px;
  border: none;
}
.reset{
  padding: 10px 15px;
  margin-left: 100px;
  border: none;
  background: gold;
}
.go{
  padding: 10px 15px;
  margin-top: 40px;
  margin-left: 140px;
  border: none;
  background: gold;
  border-bottom-right-radius: 30px;
}
.submit-1{
    padding: 10px 15px;
      margin-left:90px;
      border: none;
      background: gold;
}
.gender-link{
  margin-left: 70px;
  margin-bottom: 20px;
  font-size: 17px;
}
.testing{
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 25px;
}
#rooting{
  margin-left: 100px;
  margin-bottom: 20px;
}
.joking{
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.home{
  background: goldenrod;
}
.content{
  background: url(image/Background\ For\ me.png),fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

