*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
  border: none;
  transition: 0.3;
}

html::-webkit-scrollbar {
 width: 0.8rem;
}

html::-webkit-scrollbar-track {
 background: transparent;
}

html::-webkit-scrollbar-thumb {
 background: #fff;
 border-radius: 5rem;
}
html{
 font-family: "Edu VIC WA NT Hand", cursive;
 scroll-behavior: smooth;
 font-size: 80%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
}
marquee{
 width: 100%;
 background-color:#70500B;
 color: white;
 height: 35px;
 padding: 6px 0 ;
}
marquee span{
 color: gold;
}
marquee:hover{
 background: white;
 color: #70500B;
}
.head{
  background-color: white;
 display: flex;
 justify-content: space-between;
 box-shadow: ;
 z-index: 999;
 top: 0;
 left: 0;
 position: sticky;
 box-shadow: 3px 24px 27px 3px rgba(0, 0, 0, 0.21);
}
.head img{
 height: 100px;
 margin: 2px 20px;
}
.search{
 margin-top: 37px;
display: flex;
height: 40px;
margin-left: 100px;
background-color:#CF920E ;
padding: 2px 20px;
border-radius: 20px;
}
.search input{
 width: 200px;
border: none;
background-color: transparent;
}

.search input::placeholder{
 color: white;
}
.search-icon{
 border: none;
  background-color: transparent;
 font-size: 20px;
 align-items: center;
 margin-left: 10px;
}
.search-icon i{
width: 100%;
height: 100%;
}

.navbar{
 margin-top: 20px;
 display: flex;
font-size: 18px;
position: relative;
transition: 0.3s ease;

}
.navbar li{
 list-style: none;
padding: 18px 10px;
}
.navbar li a{
 text-decoration: none;
 color: black;
}

.navbar li a:hover,
.navbar li a.active{
text-transform: uppercase;
color: #CF920E;
}

.navbar li a.active::after,
{
 content: "";
width: 5%;
height: 1px;
background-color: #70500B;
position: absolute;
bottom: 10px;
left: 20px;
}
.Trending{
 background: url(Needs/sat-9706519_1280.jpg);
clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
width: 100%;
}
.trendingwrapper{
display: flex;
width: 500vw;
}
.trending-container{
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 margin-bottom: 20px;
}
.name-trending{
 position: absolute;
 top: 40%;
 right: 4%;
 font-size: 20px;
 font-weight: 600;
 text-align: center;
 color: #A1990B;
 z-index: 1;
}
.price-trending {
transform: scale(1.3) rotate(-10deg) translateY(-10px);
 position: absolute;
 top: 10%;
 left: 35%;
 font-size: 50px;
 font-weight: 90;
 text-align: center;
 color: #A1990B;
 border: 0.5px solid #70500B;
}
.price-trending-special{
  transform: scale(1.3) rotate(-10deg) translateY(-10px);
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 50px;
    font-weight: 90;
    text-align: center;
    color: white;
    border: 0.5px solid #70500B;
}
.image-trending img{
 margin-top: 5px;
 height: 750px;
 margin-left: 80px;
 padding: 50px 20px;
 background-color: #A1990B;
}
.buybutton{
 position: absolute;
  top: 70%;
  left: 84%;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #A1990B;
  border: 1px solid #70500B;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  background: white;
  color: black;
}
.buybutton:hover{
 background: #A1990B;
 color: white;
}
.boxes{
 padding-top: 10px;
 display: flex;
 justify-content: center;
 margin-left: 100px;
 margin-bottom: 10px;
 text-align: center;
}
.box{
 margin-left: 20px;
 background: #A1990B;
 color: white;
 height: 20px;
 width: 10px;
 margin-bottom: 20px;
 padding: 10px 20px 30px 20px;
 font-size: 15px;
 font-weight: 400;
}
.boxes a{
 margin-left: 20px;
  background: #A1990B;
  height: 20px;
  width: 10px;
  color: white;
  margin-bottom: 20px;
  padding: 10px 20px 30px 80px;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
}
.boxes a span{
 margin-left: -60px;
}
.price-trending {
  transition: transform 0.3s;
}
.content{
  background: url(Needs/shop-1611902_1280.jpg);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.heading-word{
  padding: 20px 20px;
  font-size: 30px;
  color: white;
}
.heading-word .to{
  color: #A1990B;
}
.heading-word .our{
  color: #70500B;
}
.heading-word:hover{
  color: #70500B;
}

.heading-word .to:hover{
  color: white;
}
.heading-word .our:hover {
  color: white;
}

.word p {
  font-size: 20px;
  color: black;
}

.word a{
  text-decoration: none;
  text-align: center;
  color: #CF920E;
}
.mobile{
  display: none;
}
.nav-bar{
  display: none;
}
@media (max-width: 799px) {
 .search{
    margin-left: 15px;
  }
  .search input{
    width: 50px;
  }
  .nav-bar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #70500B;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0;
      transition: 0.3s;
  }
  .nav-bar li{
    list-style: none;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .nav-bar a{
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
  }
  .nav-bar a:hover{
    color: #CF920E;
    text-transform: uppercase;
    border-bottom: 2px solid #A1990B;
  }
  .mobile{
    display: flex;
   margin-top: 35px;
  }
  .mobile .cart{
    height: 30px;
    margin-right: -5px;
  }
  .mobile .menu{
    display: initial;
    height: 30px;
    width: 30px;
  }
  .navbar{
    display: none;
  }
.boxes {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-left: 3px;
  margin-bottom: 10px;
  text-align: center;
}
    .navbar li{
      margin-bottom: 30px;
    } 
.trending-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
        .image-trending img {
          margin-top: 5px;
          height: 350px;
      margin-right: 50px;
          padding: 30px 20px;
          background-color: #A1990B;
        }
                .price-trending{
                    transform: scale(0.5) rotate(-10deg) translateY(-10px);
                    position: absolute;
                    bottom: 10px;
                    left: 1px;
                    font-size: 30px;
                    font-weight: 90;
                    text-align: center;
                    color: #70500B;
                    border: none;
                  }
                .price-trending-special {
                  transform: scale(0.5) rotate(-10deg) translateY(-10px);
                  position: absolute;
                  bottom: 10px;
                  left: 1px;
                  font-size: 30px;
                  font-weight: 90;
                  text-align: center;
                  color: #70500B;
                  border: none ;
                }
               .name-trending {
                transform: scale(1.0) rotate(-10deg) translateY(-10px);
                  position: absolute;
                    bottom: 30px;
                    left: -350px;
                    
                  font-size: 10px;
                  font-weight: 600;
                  text-align: center;
                  color: #A1990B;
                }
                                .buybutton {
            transform: scale(.7) rotate(-10deg) translateY(-10px);                     position: absolute;
                                  bottom: 200px;
                                  top: 100px;
                                    left: -450px;
                                  font-size: 15px;
                                  font-weight: 40;
                                  text-align: center;
                                  color: #A1990B;
                                  border: 1px solid #70500B;
                                  border: none;
                                  padding: 5px 4px;
                                  border-radius: 10px;
                                  background: white;
                                  color: black;
                                }
.heading-word {
  padding: 20px 20px;
  font-size: 15px;
  color: white;
}
.nav-bar.active{
  right: 0px;
}
.cancel{
  position: absolute;
  top: 30px;
}
.nav-bar a img{
  height: 30px;
  left: 12px;
  font-weight: 900;
}
}
